.ykkosvari {
    background-color: rgb(56, 123, 200);
}

.kakkosvari {
    background-color: rgb(200, 56, 123);
}

.kolmosvari {
    background-color: rgb(56, 200, 123);
}

.nelosvari {
    background-color: rgb(200, 56, 0);
}

.container {
    width: 62.5em;
    margin: auto;
}

.sisalto {
    float: left;
}

header {
    height: 10em;
}

#vasen-nav {
    width: 8em;
    float: left;
    padding: 1em;
}

#yla-nav {
    width: 50.5em;
    float: left;
    padding: 1em;
}

main {
    width: 50.5em;
    float: left;
    padding: 0em 1em 1em 1em;
}