.ykkosvari {
    background-color: rgb(115, 96, 61);
}

.kakkosvari {
    background-color: rgb(191, 138, 73);
}

.kolmosvari {
    background-color: rgb(242, 202, 128);
}

.nelosvari {
    background-color: rgb(94, 90, 89);
}

.vitosvari {
    background-color: rgb(13, 13, 13);
}

.ykkosteksti {
    color: rgb(115, 96, 61);
}

.kakkosteksti {
    color: rgb(191, 138, 73);
}

.kolmosteksti {
    color: rgb(242, 202, 128);
}

.nelosteksti {
    color: rgb(94, 90, 89);
}

.vitosteksti {
    color: rgb(13, 13, 13);
}

.valkoinen {
    color: rgb(255, 255, 255)
}

.musta {
    color: rgb(0, 0, 0)
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'sinkin', sans-serif;
}

.container {
    max-width: 62.5em;
    margin: auto;
}

.sisalto {
    float: left;
}

header {
    height: 10em;
    background-image: url(../img/puubanneri.jpg);
    background-position: right;
}

header img {
    padding: 10px;
}

#vasen-nav {
    width: 16%;
    float: left;
    /* padding: 1em; */
}

#vasen-nav li:first-child {
    display: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    text-align: center;
    line-height: 3em;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #000;
}

#vasen-nav a:hover {
    background-color: rgb(242, 202, 128);
}

#yla-nav {
    width: 84%;
    float: left;
    /* padding: 1em; */
}

#yla-nav li {
    float: left;
    width: 25%;
}

#yla-nav a {
    border-bottom: none;
    line-height: 2.3em;
    font-size: 0.8em;
}

#yla-nav a:hover {
    background-color: rgb(115, 96, 61);
}

main {
    width: 84%;
    float: left;
    padding: 0em 1em 1em 1em;
    box-sizing: border-box;
}

figure {
    max-width: 400px;
    margin: 0;
    float: left;
    padding: 0 1em 1em 0;
}

figcaption {
    text-align: center;
    font-style: italic;
}

main img {
    width: 100%;
    height: auto;
}

.kuva {
    float: left;
    padding: 0 1em 1em 0;
    display: none;
    /* joko t채m채 tai figure pois n채kyvist채 */
}

@media screen and (max-width: 767px) {
    #vasen-nav,
    #yla-nav,
    main {
        width: 100%;
    }
    #yla-nav li {
        width: 50%;
    }
    
    #yla-nav a {
        border: 1px solid #fff;
    }
    
    #vasen-nav li:first-child {
        display: list-item;
    }
}